#include ".config/Xresources.d/colors.xresources"
#include ".config/Xresources.d/fonts.xresources"
#include ".config/Xresources.d/ranger.xresources"
#include ".config/Xresources.d/rofi.xresources"
#include ".config/Xresources.d/urxvt.xresources"
#include ".config/Xresources.d/xcursor.xresources"
#include ".config/Xresources.d/xft.xresources"
